[submodule "AdventCode2019"]
	path = AdventCode2019
	url = git@github.com:dsmdavid/AdventCode2019.git
[submodule "AdventCode2020"]
	path = AdventCode2020
	url = git@github.com:dsmdavid/AdventCode2020.git
[submodule "AdventCode2021"]
	path = AdventCode2021
	url = git@github.com:dsmdavid/AdventCode2021.git
[submodule "AdventCode2022"]
	path = AdventCode2022
	url = git@github.com:dsmdavid/AdventCode2022.git
[submodule "AdventCode2023"]
	path = AdventCode2023
	url = git@github.com:dsmdavid/AdventCode2023.git
